@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* mobile first 0 a 500px */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 245, 238);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: rgb(119, 136, 153);
}

.display-4{
    display: grid;
    justify-content: left;
    font-weight: normal;
}

.palabras{
    display: grid;
    justify-content: center;
    font-style: italic;
    font-size: xx-small;
}

/* display inline-block NO ES BUENA PRACTICA */
/* barra de navegacion creada con flexbox */

ul li{
    list-style-type: none;
}

nav ul{
    display: grid;
    justify-content: left;
    font-size: small;
    font-weight: bold;
}
nav a:hover{
    color: white;
}

a{
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: larger;
}

.logo{
    height: 80px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 10px;

}

footer{
    background-color: rgb(119, 136, 153);
    margin: 0;
    margin-top: 2em;
    padding: 0;
}

.derechos{
    display: flex;
    justify-content: center;
    text-align: center;
}

.redes{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}


.nosotros{
    margin: 1em;
}
.quienessomos h2{
    font-weight: bold;
    margin: 0 0 0.5em 0;
}

.quienessomos p{
    font-size: medium;
}

.mision h2{
    font-weight: bold;
    margin: 0.5em 0 0.7em 0;
}

.mision p{
    font-size: medium;
}

.vision h2{
    font-weight: bold;
    margin: 0.5em 0 0.7em 0;
}

.vision p{
    font-size: medium;
}

.empresas__titulo{
    text-align: center;
    font-size: large;
    margin: 5em;
}
.logos__empresas img{
    height: 10em;
    width: 10em;
    margin: 0 8em 10em 8em;
}

.logos__empresas{
    height: 20%;
    display: grid;
    justify-content: center;
}


/* Declaracion de nombre de las areas para la grilla */

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

.contenido{
    grid-area: contenido;
}

.galeria-grid{
    grid-area: galeria;
}

footer{
    grid-area: footer;
}

.envoltura{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "contenido"
    "galeria"
    "footer";
}

@media (min-width: 600px){
    .envoltura{
        margin: 0;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: initial;
        font-size: small;
    }
}

@media (min-width: 992px){
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: medium;
    }

    .redes{
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
    }

    .logos__empresas{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
 
        grid-template-areas: 
        ". ."
        "palaversich palaversich"; 
        justify-items: center; 
        align-items: center; 
}

    .logo__palaversich { grid-area: palaversich;
    }

}


h1{
    color: black;
    margin: 1em 0 1em 0em;
    text-align: center;
    font-weight: bolder;
}




.parrafo__titulo1{
    padding: 0.5em 0.5em 0.2em;
    font-weight: bold;
    font-size: 2.3em;
}

.parrafo__titulo2{
    padding: 0.5em 0.5em 0.2em;
    font-weight: bold;
    font-size: 2em;
}

.parrafo__titulo1--parrafo1{
    font-size: large;
    font-weight: normal;
}
.parrafo__titulo2--parrafo2{
    font-size: large;
    font-weight: normal;
}


.logo-empresa{
    height: 55px;
    width: 55px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 10px;
}


/* seccion PRODUCTO */

.texto__titulo1{
    font-weight: 1000;
    font-size: 2.2em;
    margin-left: 0.7em;
}

.texto__titulo2{
    font-weight: 1000;
    font-size: 2.2em;
    margin-bottom: 0.5em;
    margin-left: 0.7em;
}

.texto__titulo1--parrafo1{
    font-size: larger;
}

.texto__titulo2--parrafo2{
    font-size: larger;
    margin-left: 1em;
}

.texto1{
    height: 450px;
    margin: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.imagensoftware1{
    height: 300px;
    width: 600px;
    margin: 0.5em;
}

.texto2{
    height: 450px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.imagensoftware2{
    height: 300px;
    width: 600px;
    margin: 0.5em;
}
.comprar{
    min-height: 100vh;
}

.contacto{
    min-height: 100vh;
}

/* seccion NOSOTROS */





.wsp img{
    height: 50px;
    width: 50px;
    padding: 0;
}

.fb img{
    height: 50px;
    width: 50px;
    padding: 0;
}

.ig img{
    height: 50px;
    width: 50px;
    padding: 0;
}

.tw img{
    height: 50px;
    width: 50px;
    padding: 0;

}



.derechos{
    color: #d5e1df;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formulario{
    margin: 1.5em;
    display: flex;
    flex-direction: column;

}

.formulario__nya{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 1em;
}
.formulario__mail{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 1em;
}

.formulario__telefono{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 1em;
}

.formulario__consulta{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 1em;
}

.formulario__enviar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0.5em;
}

.formulario__linea{
    padding: 5px;
}

