header {
    background-color: rgb(119, 136, 153);
    
    nav {
        width: 80%;
        margin: 0 auto;
        ul {
            display: flex;
            justify-content: flex-end;
            li {
                list-style-type: none;
                a {
                    text-decoration: none;
                    color: black;
                    padding: 15px;
                    font-size: larger;
                  }
              }
        }
      }
  }